<mat-toolbar color="primary">
  <button
    mat-icon-button
    aria-label="Alternar menu lateral"
    (click)="onSidebarToggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span class="topbar__title">{{ title() }}</span>

  <span class="topbar__spacer"></span>

  <button
    mat-icon-button
    [attr.aria-label]="themeButtonLabel()"
    [matTooltip]="themeButtonLabel()"
    (click)="onThemeToggle()"
  >
    <mat-icon>
      @if (themeService.isDark()) {
        light_mode
      } @else {
        dark_mode
      }
    </mat-icon>
  </button>
</mat-toolbar>
