// Custom Theming for Angular Material

// For more information: https://material.angular.io/guide/theming

@import "~@angular/material/theming";

@include mat-core();

// importa tema personalizado                
@import "./custom-theme.scss";                   
                                          
// importa tema de componente personalizado         
@import "./custom-component-themes.scss"; 

@include angular-material-theme($theming-material-components-theme);  
@include custom-components-theme($theming-material-components-theme); 

.dark-theme {
  @include angular-material-color($dark-theme);
}


@include angular-material-typography($typography);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
